/* App.css */

body {
  background-color: #5a5a5b;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #333;
}

.App {
  text-align: center;
  width: 100%;
}

form {
  background-color: #e0e0e5;
  padding: 10px 50px 10px 50px ;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 90%;
  margin: auto;
}

h1 {
  color: #333;
  font-size: 28px;
  margin-bottom: 20px;
}

div {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="datetime-local"],
select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f9f9f9;
  color: #333;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="datetime-local"]:focus,
select:focus {
  border-color: #3498db;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-top: 10px;
}

button:hover {
  background-color: #2980b9;
}

p {
  color: #e74c3c;
  font-size: 12px;
  margin: 5px 0 0;
}

.additional-skills div {
  display: flex;
  align-items: center;
}

.additional-skills input[type="checkbox"] {
  margin-right: 8px;
}

.additional-skills label {
  font-weight: normal;
  color: #555;
}

@media (max-width: 600px) {
  form {
    padding: 20px;
  }

  h1 {
    font-size: 24px;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="datetime-local"],
  select {
    font-size: 14px;
  }

  button {
    font-size: 14px;
  }
}
